<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>warrior_boy-animation-run_08.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,258},{95,130}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{95,130}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{192,256},{93,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{93,127}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,128},{95,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{95,127}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{96,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,7},{96,127}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{97,0},{95,127}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,7},{95,127}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_05.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,128},{96,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,5},{96,129}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_06.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,258},{95,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,6},{95,128}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
		<key>warrior_boy-animation-run_07.png</key>
		<dict>
			<key>frame</key>
			<string>{{193,0},{93,129}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{93,129}}</string>
			<key>sourceSize</key>
			<string>{98,134}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,512}</string>
		<key>textureFileName</key>
		<string>warrior_run.png</string>
	</dict>
</dict>
</plist>
