<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>skeleton-animation_000.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,360},{308,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{308,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_001.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1079},{303,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{303,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_010.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,363},{290,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,9},{290,360}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_011.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,1079},{296,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{296,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_012.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1439},{301,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{301,358}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,720},{306,358}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,11},{306,358}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_014.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{308,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,10},{308,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_002.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,1439},{298,360}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,9},{298,360}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_003.png</key>
		<dict>
			<key>frame</key>
			<string>{{309,0},{292,362}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,7},{292,362}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_004.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,363},{284,361}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,8},{284,361}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_005.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,1085},{278,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{278,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_006.png</key>
		<dict>
			<key>frame</key>
			<string>{{602,0},{272,357}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,12},{272,357}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_007.png</key>
		<dict>
			<key>frame</key>
			<string>{{875,0},{271,356}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,13},{271,356}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_008.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,1445},{275,357}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,12},{275,357}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
		<key>skeleton-animation_009.png</key>
		<dict>
			<key>frame</key>
			<string>{{601,725},{282,359}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{13,10},{282,359}}</string>
			<key>sourceSize</key>
			<string>{321,369}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>textureFileName</key>
		<string>warrior_stay.png</string>
	</dict>
</dict>
</plist>
