<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>warrior_rest_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{101,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{101,185}}</string>
			<key>sourceSize</key>
			<string>{101,185}</string>
		</dict>
		<key>warrior_rest_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{304,0},{99,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{99,185}}</string>
			<key>sourceSize</key>
			<string>{99,185}</string>
		</dict>
		<key>warrior_rest_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{203,0},{100,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,185}}</string>
			<key>sourceSize</key>
			<string>{100,185}</string>
		</dict>
		<key>warrior_rest_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,0},{100,185}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{100,185}}</string>
			<key>sourceSize</key>
			<string>{100,185}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{512,256}</string>
		<key>textureFileName</key>
		<string>warrior_rest.png</string>
	</dict>
</dict>
</plist>
