<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>warrior_run_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,777},{97,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{97,129}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,907},{96,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{96,130}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1168},{95,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{95,130}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1299},{94,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,3},{94,131}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1696},{91,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{91,133}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1562},{92,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2},{92,133}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1431},{93,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,4},{93,130}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1038},{95,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{95,129}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,648},{97,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{97,128}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,387},{99,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{99,129}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{100,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,7},{100,128}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{100,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,7},{100,127}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{99,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,6},{99,129}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

			<key>warrior_run_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,517},{98,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{98,130}}</string>
				<key>sourceSize</key>
				<string>{105,141}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{128,2048}</string>
			<key>textureFileName</key>
			<string>warrior_run.png</string>
			</dict>
		</dict>
</plist>